img {
  width: 100%;
}

.landing {
  position: fixed;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 2;
  text-align: Left;
  min-width: 100%;
  min-height: 100%;
}
.landings {
  text-align: left;
}

.landing-inner {
  padding-top: 150px;
}

.home-banner-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  background-size: cover !important;
  min-width: 100%;
  min-height: 100%;
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
/* register */
.bodyCenterregister {
  background-color: rgba(0, 0, 0, 0.7);
  height: 50%;
  text-align: center;
  margin: 150px 350px;
}
.bodyCenter {
  background-color: rgba(0, 0, 0, 0.7);
  height: 90%;
  text-align: center;
  margin: 30px 350px;
}

.NoPaddingAndMargin {
  padding: 0px;
  margin-top: 0px;
  color: white;
}

.bodyRight {
  float: left;
  color: white;
  text-align: center;
  margin-top: 200px;
}

.bodyRightDiv {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  float: right;
}

.bodyRow {
  margin-top: 150px;
  padding: 0px;
}

.btnLinkedWidth {
  color: #003366;
  width: 100%;
}

.btnLinkedColor {
  background-color: #3078d7;
  color: white;
}

.floatLeft {
  float: left;
}

.floatright {
  float: right;
}
